@model _001JIMCV.Controllers.HomeController
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1 class="titre">Accueil du site Jimcv</h1>
    <ul>
        <li>@Html.ActionLink("Accueil", "Index")</li>
        <li>@Html.ActionLink("Service", "AddService", "Service")</li>

    </ul>
</body>
</html>