@{
    Layout = "_LayoutJimcv";
}

@section ExtraCss{
    <link rel="stylesheet" type="text/css" href="~/Css/Site.css" link />

}
    <div class="video-container">
        <video src="~/Images/pexels-sebastian-feistl-1966695-1920x1080-30fps.mp4" controls></video>
    </div>

    <div id="Accueildescription">
        <p>
            « Imaginez un groupe de quatre aventuriers culinaires, ayant voyagé dans le monde, ayant exploré des contrées lointaines et ayant rencontré des gens incroyables loin des sentiers battus du tourisme. Ils ont dîné dans des cuisines familiales, où les grands-mères et les mères préparaient des plats authentiques transmis de génération en génération, utilisant des ingrédients locaux frais.
            <br>
            <br>
            Ce sont ces expériences, ces moments extraordinaires de partage et de découverte, qui ont nourri leur passion pour l'exploration culinaire et qui les ont amenés à créer cette agence de voyage spécialisée dans la culture culinaire.
            <br>
            <br>
            Imaginez maintenant un voyage qui serait une véritable épopée gustative, où chaque destination serait l'occasion de découvrir une cuisine authentique, façonnée par l'histoire, la géographie et la culture de chaque pays.
            <br>
            <br>
            Ce voyage culinaire vous amènera non seulement à découvrir des saveurs et des techniques culinaires nouvelles, mais aussi à comprendre la culture et l'histoire des pays que vous visiterez. Vous rencontrerez des personnes merveilleuses, apprendrez leurs traditions et découvrirez comment la nourriture tisse le lien entre les gens. Vous reviendrez de ces voyages enrichi, non seulement par les saveurs que vous aurez découvertes, mais aussi par les rencontres que vous aurez faites et les histoires que vous aurez entendues.
        </p>
    </div>
    <div id="Accueillogo">
        <img src="/images/bandelogo.jpg" alt="Logo">
    </div>

    <br>
    <br>
    <br>
    <br>

    <div id="NosMenus">
        <img src="/images/NosMenus2.jpg" alt="NosMenus">
    </div>
    <br>
    <br>
    <hr />

    <div id="Accueilphoto-gallery">
        <div class="Accueilimage-container">
            @*<p>L'Inde danse dans votre assiette avec une palette d'épices vibrante. Le curry, le biryani, les naans... sont des plats où se mêlent des saveurs audacieuses, couronnés par des douceurs comme le gulab jamun.</p>*@
            <a href="/Home/IndeFullPackage01">
                <img src="/images/Inde/Inde01t2.jpg" alt="Photo 1">
            </a>
        </div>
        <div class="Accueilimage-container">
           @* <p>La cuisine japonaise est une symphonie de délicatesse et de subtilité. Sushi, ramen, tempura... Chaque plat est une exploration de textures et de saveurs, culminant dans le Kaiseki, un festin traditionnel reflétant la diversité de cette cuisine.</p>*@
            <a href="/Home/JaponFullPackage01">
                <img src="/images/Japon/Japon01t2.jpg" alt="Photo 2">
            </a>
        </div>
        <div class="Accueilimage-container">
           @* <p>Simplicité et qualité sont les maîtres mots de la cuisine italienne. Pâtes, risotto, pizza... Chaque plat est un chant d'amour à l'authenticité des ingrédients, terminé par une douce note de Tiramisu. Un véritable voyage au cœur de l'Italie.</p>*@
            <a href="/Home/ItalieFullPackage01">
                <img src="/images/Italie/Italie01t2.jpg" alt="Photo 3">
            </a>
        </div>
        <div class="Accueilimage-container">
           @* <p>Explosive et colorée, la cuisine mexicaine est une fête des sens. Les tacos, le mole, le pozole... Chaque plat vous entraîne dans un tourbillon de saveurs, célébrant la richesse et la joie de la culture mexicaine.</p>*@
            <a href="/Home/MexiqueFullPackage01">
                <img src="/images/Mexique/Mexique01t2.jpg" alt="Photo 4">
            </a>
        </div>
        <div class="Accueilimage-container">
           @* <p>La cuisine vietnamienne est une parfaite harmonie de saveurs contrastées. Le phở, les rouleaux de printemps, le bánh mì... Tous sont des créations délicates, mêlant douceur et piquant, salé et sucré, pour une découverte culinaire sereine.</p>*@
            <a href="/Home/VietnamFullPackage01">
                <img src="/images/Vietnam/Vietnam01t2.jpg" alt="Photo 5">
            </a>
        </div>
    </div>
