@model _001JIMCV.Models.Classes.Service


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>ListeServices</title>
</head>
<body>
    <ul>
       
        <li>@Html.ActionLink("Proposer un hébergement", "AccommodationForm", "Accommodation")</li>
        <li>@Html.ActionLink("Proposer une activité", "ActivityForm", "Activity")</li>
        <li>@Html.ActionLink("Proposer une restauration", "RestaurationForm", "Restauration")</li>
        <li>@Html.ActionLink("Autres propositions", "OtherPropForm", "Proposition")</li>


    </ul>
  


</body>


</html>
