@{
    Layout = "_LayoutJimcv";
}

<!DOCTYPE html>
<html>
<head>
    <title>Page d'erreur</title>
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Oups, vous êtes sûrement en train de manger quelque chose de beaucoup trop fort !</h1>

        <div class="error-code">404</div>
        <div class="error-description">Nous ne trouvons pas le voyage et menu adéquat !</div>

        <p>Veuillez vérifier que votre voyage ne vous a pas mené trop loin ! Revenons en France !</p>

        <a href="/Home/Index.cshtml">Retour à la page d'accueil</a>
    </div>
</body>
</html>
