@{
    Layout ="_LayoutJimcv";
    @section ExtraCss
    {
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-..." crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
        <link href="~/Css/PayementCss.css" rel="stylesheet" />
    }

}
    
    <div class="container">
        <div class="card">
            <div class="card-body">
                <i class="fas fa-check-circle"></i>
                <h2 class="card-title">Confirmation de paiement</h2>
                <p class="card-text">Votre paiement a été traité avec succès !</p>
                <p class="mt-3">Merci d'avoir effectué votre paiement.</p>
                <p class="mt-3">Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter.</p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-..." crossorigin="anonymous"></script>

