.journey-container {
    display: flex;
    align-items: flex-start;
    padding: 0px;
}

.journey-photo {
    width: calc(1/3 * 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.journey-content {
    display: flex;
    flex-direction: column;
    width: calc(3/5 * 100%);
}

.journey-details,
.journey-description {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.map {
/*    height: 350px;
*/    width: 100%;
    /*background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;*/
}
.map img{
    width:100%;
    height:auto;
}

.button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 3px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 38px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

    .button:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

    .button:hover {
        box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

.button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.spanProduit{
    padding : 5px;
}
