
.Produitimagecontainer {
    width: 400px;
    height: 400px;
}

imageproduit {
    width: 400px;
    height: 400px;
}

Product-description {
    flex: 1;
    display: flex;
    flex-direction: column;
}

description-section {
    float: left;
    margin-bottom: 10px;
}

h3{
    background-color: #df3012;
}