
.container {
   display:flex;

}

.dashboard-container {
    width: 12%;
    padding: 15px;
    background-color: #DF3012;
}


.dashboard-item {
    margin-bottom: 40px;
    text-align: center;

}

    .dashboard-item:last-child {
        margin-bottom: 0;
    }

button {
    background-color: #ededed;
    color: black;
    border-radius: 10em;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

    button:hover {
        text-decoration: none;
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 black;
    }

button:active {
    text-decoration: none;
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
    }
}
