@model _001JIMCV.Models.Classes.Service


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
 <title>ListeServices</title>
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Accueil", "Index", "Home")</li>

    </ul><br>
    <div>
        @Html.Partial("FormAddEdit")
    </div>
    <div>
        @Html.Partial("ServiceList")
    </div>
    

</body>


</html>